#masonry-grid {
	height: auto!important;
	display: flex;
	flex-wrap: wrap;
}
#masonry-grid .post-element {
	position: relative!important;
	top: unset!important;
	left: unset!important;
	flex: 0 0 calc(25% - 12px);
	margin-left: 15px;
	margin-bottom: 15px;
	transform: none!important;
}
.archive.category .media-page-layout .thumb-overlay .thumb-title,
.search-results .media-page-layout .thumb-overlay .thumb-title {
    font-size: 20px;
    line-height: 26px;
}
.archive.category .thumb-overlay .thumb-overlay,
.search-results .thumb-overlay .thumb-overlay {
	padding-right: 20px;
	padding-left: 20px;
}
.archive.category .thumb-overlay .thumb-content,
.search-results .thumb-overlay .thumb-content {
	padding-right: 20px;
	padding-left: 20px;
}
.media-page-layout .thumb-overlay .thumb-title {
	text-align: center;
}
.archive.category #masonry-grid .post-element {
	flex: 0 0 calc(20% - 12px);
	margin-left: 15px;
}
.archive.category #masonry-grid .post-element:nth-child(5n+1) {
	margin-left: 0;
}

.archive.category.full-width .media-page-layout .post-element .slide {
	height: 320px!important;
}

#masonry-grid .post-element:nth-child(4n+1) {
	margin-left: 0;
}
.media-page-layout .post-element .slide {
	height: 270px!important;
	background-position: left top!important;
}
.full-width .media-page-layout .post-element .slide {
	height: 320px!important;
}
@media (max-width: 990px) {
	#masonry-grid .post-element {
		flex: 0 0 calc(50% - 20px);
	}
	#masonry-grid .post-element:nth-child(3n+1) {
		margin-left: 15px;
	}
	#masonry-grid .post-element:nth-child(2n+1) {
		margin-left: 0;
	}
	.media-page-layout .post-element .slide	{
		height: 520px!important;
	}
	.archive.category #masonry-grid .post-element {
		flex: 0 0 calc(33% - 10px);
		margin-left: 15px;
	}	
	.archive.category #masonry-grid .post-element:nth-child(5n+1) {
		margin-left: 15px;
	}
	.archive.category #masonry-grid .post-element:nth-child(3n+1) {
		margin-left: 0;
	}
	.archive.category.full-width .media-page-layout .post-element .slide {
		height: 360px!important;
	}
}
@media (max-width: 670px) {
	.home #tie-block_2343 {
		display: none!important;
	}
	#tie-body #masonry-grid .post-element {
		flex: 0 0 calc(50% - 5px);
		margin-left: 5px;
		margin-bottom: 5px;
	}	
	#tie-body #masonry-grid .post-element:nth-child(5n+1) {
		margin-left: 5px;
	}
	#tie-body #masonry-grid .post-element:nth-child(3n+1) {
		margin-left: 5px;
	}
	#tie-body #masonry-grid .post-element:nth-child(2n+1) {
		margin-left: 0;
	}
	#tie-body .media-page-layout .post-element .slide	{
		height: 340px!important;
	}
}
@media (max-width: 450px) {
	#tie-body .media-page-layout .post-element .slide	{
		height: 240px!important;
	}
}
@media (max-width: 319px) {
	#tie-body #masonry-grid .post-element {
		flex: 0 0 100%;
		margin-left: 0;
	}
	#tie-body.full-width .media-page-layout .post-element .slide {
		height: 290px!important;
	}
}
.tagmetafield {
    position: absolute;
    top: 2px;
    margin: 0;
    right: 2px;
    background: #8D8D1B;
    color: #fff;
    padding: 0 6px;
    font-size: 12px;
    line-height: 1.85em;
    white-space: nowrap;
    word-wrap: normal;
    letter-spacing: 0;
    transition: 0.3s;
    border-radius: 2px;
    z-index: 3;
}

.the-post-title {
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 22px;
    width: 100%;
    height: 100%;
    color: #fff;
    padding: 5px 10px;
    background: #282828;
    opacity: 0;
    transition: opacity 0.5s linear;
}
.widget.posts-list .post-widget-thumbnail img {
    width: 70px;
    height: 105px;
    object-fit: cover;
    object-position: center;
}
.widget.posts-list .post-widget-body {
    padding-left: 10px;
}
.related-posts-list .related-item img {
    width: 240px;
    height: 360px;
    object-fit: cover;
    object-position: center;
}
#tie-body .mag-box .posts-items-loaded-ajax {
    margin-top: 0!important;
}

#tie-body .mag-box.big-posts-box .posts-items li .post-details {
    padding-left: 0;
    display: none;
}
#tie-body .mag-box .posts-items li {
    margin-top: 0
}
#tie-body .mag-box .posts-items li a:hover .the-post-title {
    opacity: 1;
}
#tie-body .mag-box .post-thumb img {
    width: 100%;
    display: block;
    height: 280px;
    object-fit: cover;
    object-position: center;
}
.archive#tie-body .mag-box .post-thumb img {
    width: 210px;
}
.archive#tie-body .wide-post-box .posts-items li .post-thumb {
    flex: none;
    width: auto;
}
.archive#tie-body .mag-box .posts-items li:nth-child(1n+1) {
    margin-top: 20px;
}
.search#tie-body .mag-box .post-thumb img {
    height: 520px;
    margin-top: 20px;
}
@media (max-width: 670px) {
#tie-body .mag-box .post-thumb img {
    height: 250px;
}
#tie-body .mag-box.big-posts-box .posts-items li {
    width: 50%;
    padding: 0 2%;
}
#tie-body .mag-box.big-posts-box .posts-items li:nth-child(2n+1) {
    padding-right: 5px;
}
#tie-body .mag-box.big-posts-box .posts-items li:nth-child(2n) {
    padding-left: 5px;
}
.search#tie-body .mag-box .post-thumb img {
    height: 450px;
}
}
@media (max-width: 319px) {
#tie-body .mag-box.big-posts-box .posts-items li {
    width: 100%;    
}
}
@media (min-width: 670px) {
#tie-body .full-width .mag-box.big-posts-box .posts-items li:nth-child(3n+1) {
    clear: none;
}
#tie-body .full-width .mag-box.big-posts-box .posts-items li {
    width: calc(100% / 3);
    padding: 0 5px;
}
#tie-body .full-width .big-posts-box .posts-items {
    margin: 0 -5px;
}
}
@media (min-width: 920px) {
#tie-body .full-width .mag-box.big-posts-box .posts-items li {
    width: calc(100% / 6);
    padding: 0 5px;
}
}

ul.page-numbers {
    list-style: none;
    margin: 0;
}

.page-numbers:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

ul.page-numbers li {
    display: block;
    float: left;
    margin: 0 4px 4px 0;
    text-align: center;
}

.page-numbers a,
.page-numbers span {
    line-height: 1.6em;
    display: block;
    padding: 0 6px;
    height: 18px;
    line-height: 18px;
    font-size: 12px;
    text-decoration: none;
    font-weight: 400;
    cursor: pointer;
    border: 1px solid #ddd;
    color: #888;
}

.page-numbers a span { padding: 0 }

.page-numbers a:hover,
.page-numbers.current,
.page-numbers.current:hover {
    background-color: #733d91;
    color: #FFFFFF;
	border-color: #733d91;
	line-height: 36px;
    padding: 0 15px;
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 2px;
    display: inline-block;
    overflow: hidden;
}

.page-numbers:hover { text-decoration: none }

#tiepost-1164-section-378 .mag-box-title {
	justify-content: center;
}
.archive.category header.entry-header-outer,
.page-id-10794 header.entry-header-outer {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.archive.category .page-title,
.page-id-10794 .post-title {
	background: #733d91;
	color: #ffffff;
	font-size: 30px;
    font-weight: 500;
	width: fit-content;
	padding: 5px 10px;
	align-self: center;
}
.az-link-links-block-link {
	height: 36px!important;
	padding: 0 10px!important;
}
.az-link-links-block-link:hover {
	padding: 0 10px!important;
}
.az-link-links-block-link.current {
	background-color: #733d91;
    color: #fff!important;
    border-color: #733d91;
}

.az-list-item {
	list-style: disc;
}

.az-list-container {
	margin-bottom: 10px;
}

.az-list-header,
.updated-list-date {
	margin-bottom: 10px;
	padding: 5px 20px;
	background: #733d91;
	color: #ffffff;
	text-align: center;
}
.updated-list-date {
	text-align: left;
}

.az-list {
	display: grid;
	grid-column-gap: 20px;
	grid-template-columns: 1fr 1fr 1fr;
	padding-left: 35px;
	margin-right: 20px;
}

@media (max-width: 990px) {
	.az-list {
		grid-template-columns: 1fr 1fr;
	}	
}
@media (max-width: 670px) {
	.az-list {
		grid-template-columns: 1fr;
	}
}

.updated-list-block {
	margin-bottom: 10px;
}
.updated-list-date {
	font-weight: 600;
	margin-bottom: 10px;
}